<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="icon" href="/public/icon/logo.svg">
</head>
<body>

<header>
  <div id="title">
    <a class="no-dec" href="/">
      <img alt="Art-Site Logo" src="/public/icon/logo.svg" id="logo">
      <span>Art-Site</span>
    </a></div>
  <div class="header">
    <form id="searchbar" method="post" action="/search">
      <label for="search-input"></label>
      <input id="search-input" name="query" maxlength="32" placeholder="Search">
      <button type="submit" id="search-button" disabled>→</button>
    </form>
    <div id="icons">
      {{#if user}}
        {{#if user.isArtist}}
          <a class="icon no-dec" href="/posts/create"><img src="/public/icon/post.svg" alt="create post"
                                                           title="Create Post"></a>
          <a class="icon no-dec" href="/likedPosts"><img src="/public/icon/mylikes.svg" alt="liked posts"
                                                         title="Liked Posts"></a>
          <a class="icon no-dec" href="/commission_request"><img src="/public/icon/commission_req.svg"
                                                                            alt="commission request" title="Commission Request"></a>
          <a class="icon no-dec" href="/commissions"><img src="/public/icon/commissions.svg"
                                                                            alt="commissions" title="Commissions"></a>
          <a class="icon no-dec" href="/profile/{{user.username}}"><img src="/public/icon/profile.svg"
                                                                        alt="profile" title="Profile"></a>
          <a class="icon no-dec" href="/settings"><img src="/public/icon/settings.svg" alt="settings" title="Settings"></a>
        
        {{else}}
          <a class="icon no-dec" href="/commission_request"><img src="/public/icon/commission_req.svg"
                                                                            alt="commission request" title="Commission Request"></a>
          <a class="icon no-dec" href="/commissions/{{user.username}}"><img src="/public/icon/commissions.svg"
                                                                            alt="commissions"></a>
          <a class="icon no-dec" href="/profile/{{user.username}}"><img src="/public/icon/profile.svg"
                                                                        alt="profile picture"></a>
          <a class="icon no-dec" href="/settings"><img src="/public/icon/settings.svg" alt="settings"></a>
        {{/if}}
      {{else}}
        <a href="/login" class="header-link">Sign In</a>
      {{/if}}
    </div>
  </div>
</header>

<main>{{{body}}}</main>
<footer><p id="contactNumber">Contact: 1-800-ART-SITE</p></footer>
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="/public/js/client_side_validation.js"></script>
{{#if script_partial}}
  {{> (lookup . 'script_partial') }}
{{/if}}
</body>
</html>