<h2>Artist Page</h2>

<h3>{{profile.firstName}} {{profile.lastName}}</h3>

<h3>@{{profile.username}}</h3>

{{#if isArtist}}
<h3>Artists Statement:</h3>
<p>{{profile.statement}}</p>

<h3>Biography:</h3>
<p>{{profile.bio}}</p>
{{/if}}

{{#if isSelf}}
  <br><a href="/posts/create">Create New Post</a>
  <br><a href="/likedPosts">View My Liked Posts</a>
  <br><a>Request a Commission</a>
  <br><button id="switchProfileButton" data-id="{{profile.isArtist}}">Switch to {{oppositeAccountType}}</button>
  {{!-- <br><a href="/settings">Preferences</a> --}}
  <br><a href="/logout">Log Out</a>
{{/if}}

{{#if isArtist}}
<div>

</div>
{{/if}}