<h2>{{#if isArtist}}Artist{{else}}User{{/if}} Page</h2>
<div class="profile-box">
  <strong>{{profile.firstName}} {{profile.lastName}}</strong><br>
  {{#if isArtist}}🖌️{{/if}}{{profile.username}}
</div>
{{#if isArtist}}
  {{#if profile.statement}}
    <h3>Artists Statement:</h3>
    <p>{{profile.statement}}</p>
  {{/if}}
  {{#if profile.bio}}
    <h3>Biography:</h3>
    <p>{{profile.bio}}</p>
  {{/if}}


  <h3>Reviews:</h3>
  {{#unless isSelf}}
    <a href="/review/{{profile.username}}">Add New Review</a>
  {{/unless}}
  {{#each profile.reviews}}
    <div class="review">
      <p><em>{{this.reviewer}}:</em> {{this.reviewText}}</p>
      <p class="reviewDate"><em>{{this.reviewDate}}</em></p>
    </div>
  {{else}}
    <div>No Reviews</div>
  {{/each}}
{{/if}}

{{#if isSelf}}
  <br><a href="/posts/create">Create New Post</a>
  <br><a href="/likedPosts">View My Liked Posts</a>
  <br><a href="/commission_request">Request a Commission</a>
  <br><button id="switchProfileButton" data-id="{{profile.isArtist}}">Switch to {{oppositeAccountType}}</button>
  {{!-- <br><a href="/settings">Preferences</a> --}}
  <br><a href="/logout">Log Out</a>
{{/if}}

{{#if isArtist}}
  <h3>Artist Posts:</h3>
  {{#each posts}}
    <div class="post">
      <a href="/posts/{{this._id}}" class="postLink no-dec">
        <img src="{{this.images.[0]}}" class="full-thumbnail" alt="{{this.title}} thumbnail">
        <p>{{this.title}}</p>
      </a>
    </div>
  {{else}}
    <div>No Posts</div>
  {{/each}}
{{/if}}