<!-- This should get abstracted to a sublayout or view or whatever it's called-->
<h1>Results for '{{query}}'</h1>
<div class="results">
  {{#each results}}
    <div class="post search-post">
      <a href="/posts/{{_id}}" class="postLink no-dec">
        <h2>{{this.title}}</h2>
        <div class="post-images">
          <img src="{{this.images.[0]}}" alt="{{this.title}} thumbnail" class="thumbnail">
        </div>
        <p>{{this.description}}</p>
        <p><em>{{this.formattedTimePosted}}<br><strong>{{this.poster.displayName}}</strong></em></p>
      </a>
    </div>
  {{else}}
    <strong id="no-results">No Results Found.</strong>
  {{/each}}
</div>