<h1>Edit Post</h1>
<form id="edit-post-form" action="/posts/edit/{{post._id}}" method="POST">
    <label for="post-title">Title</label>
    <input type="text" name="title" id="post-title" value="{{post.title}}">
    <label for="post-description">Description</label>
    <textarea type="text" name="description" id="post-description" >{{post.description}}</textarea>
    <label for="keywords">Keywords (comma seperated)</label>
    <input type="text" id="keywords" name="keywords" value="{{keywords}}">
    <button id="submitButton" name="submitButton" type="submit" class="button">Save Changes</button>
</form>
<ul id="client-errors" class="client-errors" hidden>
{{#if error}}
  <div class="error">
    <p>{{error}}</p>
  </div>
{{/if}}
