<article class="post">
    {{#each post}}
    <h1>{{ this.title }}</h1>

    <p>Likes: {{this.likes}}</p>
    <div>
        {{#each this.images}}
        {{!-- Need to resize images --}}
          <img src={{this}} class="thumbnail" alt="{{this.title}} thumbnail">
        {{/each}}
    </div>  
    <address>Posted by {{this.poster.displayName}}</address>
    <p>{{ this.post.description }}</p>

    <h2>Comments</h2>
    <form id="commentForm" action="/post/:id/comment" method="POST">
        <label for="comment">Add a comment:</label>
        <textarea name="comment" id="comment" placeholder="Enter your comment here"></textarea>
        <button type="submit">Post Comment</button>
    </form>
    {{#if this.hasComments}}
        {{#each this.comments}}
            <div>
                <h3>{{this.username}}</h3>
                <p>{{this.comment}}</p>
            </div>
        {{/each}}
    {{else}}
        <p>No comments yet.</p>
    {{/if}}
    {{/each}}
</article>