<article class="post">
  {{#each post}}
    <h1>{{ this.title }}</h1><br>
    {{#if this.thread}}
      <a href="/posts/thread/{{this.poster._id}}/{{this.thread}}">View Thread</a><br>
    {{/if}}
    <p id="like-count">Liked by {{this.likes.length}}</p>
    
    <button id="like-button" data-id="{{this._id}}">
      {{#if isLiked}}
        <img class="icon-like" src="/public/icon/like.svg" alt="Liked" title="Unlike" id="like-button-is-liked">
      {{else}}
        <img class="icon-like" src="/public/icon/mylikes.svg" alt="Not Liked" title="Like" id="like-button-is-not-liked">
      {{/if}}
    </button>

    {{#if this.isSelf}}
        <a href="/posts/edit/{{this._id}}">Edit Post</a>
        <form id="delete-post-form" action="/posts/delete/{{this._id}}" method="POST">
        <button type="submit" id="delete-button">Delete Post</button>
      </form>
    {{/if}}

    <div>
      {{#each this.images}}
      {{!-- Need to resize images --}}
        <img src="{{this}}" class="full-thumbnail" alt="{{this.title}} thumbnail">
      {{/each}}
    </div>
    <address>Posted by {{this.poster.displayName}} · {{this.formattedTimePosted}}</address>
    <p>{{ this.description }}</p>

    <h2>Comments</h2>
    <form id="comment-form">
      <label for="comment">Add a comment:</label><br>
      <textarea name="comment" id="comment" placeholder="Enter your comment here"></textarea><br>
      <button type="submit">Post Comment</button>
    </form>
    <div id="comment-form-error-div" hidden></div>
  <div id="comment-area">
    {{#if this.hasComments}}
      {{#each this.comments}}
        <div>
          <h3>{{this.username}}</h3>
          <p>{{this.comment}}</p>
          <div class="reply-area">
            {{#each this.replies}}
              <div>
                <h4>{{this.username}}</h4>
                <p>{{this.comment}}</p>
              </div>
            {{/each}}
          </div>
          <div class="reply-container">
            <a class="reply-link" data-id={{this._id}}>Reply</a>
            <div class="reply-form-container" hidden>
              <form class="reply-form">
                <label for={{this._id}}>Add a reply:</label>
                <textarea name="reply" id={{this._id}} placeholder="Enter your reply here"></textarea>
                <button type="submit" class="post-reply" data-id={{this._id}}>Post Reply</button>
                <button type="button" class="cancel-reply">Cancel</button>
              </form>
              <div class="reply-form-error-div" hidden></div>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <p>No comments yet.</p>
    {{/if}}
  {{/each}}
</div>
</article>